<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3">
    <title>Väder station</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        
        <h1>Väder station</h1>
        <h2>Dagens väder</h2>
        <p>temperatur: {{ temp }} </p>
        <p>Luftfuktighet: {{ hum }} </p>
        <p>Regnar det? {{ rain }} </p>




    </main>
</body>


</html>